<ion-header [translucent]="true" class="pt-6">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="flex flex-row justify-between">
      <ion-img src="../../assets/logo_agroshield-no-bg.png" alt="agroshield logo"
      class="w-12 h-auto order-last"></ion-img>
      <ion-title>Login</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding rounded-md">
  <img src="../../assets/logo_agroshield-no-bg.png" alt="agroshield logo"
  class="mx-auto w-64 h-auto mt-[-1.2rem]">

  <h1 class="text-center text-xl mb-8 mt-[-1.2rem]">Welcome to the AgroShield Application</h1>
  
  <!-- Email Input -->
  <ion-item class="rounded-md mb-4">
    <ion-label position="floating"></ion-label>
    <!-- <ion-input [(ngModel)]="email" type="email"></ion-input> -->
    <ion-input [(ngModel)]="email" type="email" label="Email" labelPlacement="floating" placeholder="Enter email"></ion-input>
  </ion-item>

  <!-- Password Input -->
  <ion-item class="rounded-md">
    <ion-label position="floating"></ion-label>
    <!-- <ion-input [(ngModel)]="password" type="password"></ion-input> -->
    <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="floating" placeholder="Enter password"></ion-input>
  </ion-item>

  <!-- Login Button -->
  <ion-button expand="block" color="success" (click)="login()" class="mt-5 rounded-md"><ion-icon name="log-in-outline" class="mr-2"/>Login</ion-button>
  
  <!-- Error Message -->
  <div *ngIf="loginError" class="text-center mt-4 text-red-400">
    <p>{{ loginError }}</p>
    <p>Please contact us if this keeps happening!</p>
  </div>
</ion-content>
