<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Email Input -->
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <!-- Password Input -->
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <!-- Login Button -->
  <ion-button expand="block" shape="round" color="success" (click)="login()">Login</ion-button>
  
  <!-- Error Message -->
  <div *ngIf="loginError" class="error-message">
    <p>{{ loginError }}</p>
  </div>
</ion-content>
