<ion-header class="pt-7">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Percelen Raadplegen (consultant)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <p>{{ userEmail }}</p>
  <p>{{ error }}</p>
  <p>{{ debug }}</p> -->

  @if (isLoading) {
    <ion-spinner></ion-spinner>
  } @else {
    @if (percelenLijst.length === 0) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>Je bent nog niet toegevoegd aan een perceel.</ion-card-title>
        </ion-card-header>
      </ion-card>
    } @else {
      <ion-card *ngFor="let perceel of percelenLijst as Perceel; let i = index">
        <ion-card-header>
          <ion-card-title>Naam: {{ perceel.persoonlijkeNaam }}</ion-card-title>
          <ion-card-subtitle>{{ perceel.gebruikerEmail }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Gemeente:</ion-label>
              <ion-text>{{ perceel.gemeente }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Oppervlakte:</ion-label>
              <ion-text>{{ perceel.oppervlakte }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Gewas:</ion-label>
              <ion-text>{{ perceel.soortGewas }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label><strong>Perceel ID:</strong></ion-label>
              <ion-text><strong>{{ perceel.perceelDataId }}</strong></ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Lengte:</ion-label>
              <ion-text>{{ perceel.lengte }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Hectare:</ion-label>
              <ion-text>{{ (+(perceel.oppervlakte) / 10000).toFixed(2) }} ha</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Status:</ion-label>
              <ion-text>///</ion-text>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    }
  }
</ion-content>